{{> layouts/header }}


<form class="container" method="post" action="/user/signin">
    <div class="mb-3">
        <label class="form-label">아이디</label>
        <input name="userId" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">비밀번호</label>
        <input name="userPw" type="password" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">이름</label>
        <input name="userName" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">회원 가입</button>
</form>


{{> layouts/footer }}