{{> layouts/header }}

<div class="bg-dark text-white p-5">
    <h1>{{userName}}님 {{content}}!!</h1>
    <p>
        저희 서비스를 구경해보세요
    </p>
</div>

<div class="text-blue p-5">
    <a class="nav-link active" aria-current="page" href="item/">HERE</a>
</div>

{{> layouts/footer }}