<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>
    <div class="box-body" th:object="${product}">
        <div th:text="${product.id}"> id </div>
        <div th:text="${product.name}"> name </div>
        <div th:text="${product.description}"> description </div>
        <div th:text="${product.price}"> price </div>
        <div th:text="${product.minimumPrice}"> price </div>
        <div th:text="${product.createdDate}"> createdDate </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>user</th>
            <th>price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${biddings.empty}">
            <td colspan="2"> no one's bidding </td>
        </tr>
        <tr th:each="bidding : ${biddings}">
            <td><span th:text="${bidding.account.email}"> name </span></td>
            <td><span th:text="${bidding.price}"> bidding price </span></td>
        </tr>
        </tbody>
    </table>

    <div class="box-body">
        <form th:method="POST" >
            id: <input name="id"><br>
            price: <input name="price"><br>
            <button type="submit">save</button>
        </form>
    </div>
</body>
</html>