{{> layouts/header }}

<dl class="text-center row">
    <h1 class="display-5">상품 설명</h1>

    <dt class="col-sm-3">제품명</dt>
    <dd class="col-sm-9"><p>{{item.productName}}</p></dd>

    <dt class="col-sm-3">제목</dt>
    <dd class="col-sm-9"><p>{{item.title}}</p></dd>

    <dt class="col-sm-3">내용</dt>
    <dd class="col-sm-9"><p>{{item.content}}</p></dd>

    <dt class="col-sm-3">가격</dt>
    <dd class="col-sm-9"><p>{{item.price}}</p></dd>

    <dt class="col-sm-3 text-truncate">생성시간</dt>
    <dd class="col-sm-9"><p>{{item.createdTime}}</p></dd>

    <dt class="col-sm-3 text-truncate">최소입찰 가격</dt>
    <dd class="col-sm-9"><p>{{item.minPrice}}</p></dd>
</dl>

<form class="container" method="post" action="/item/bid">
    <h3 class="display-5">상품 입찰하기</h3>
    <input name="itemId" type="hidden" value="{{itemId}}">
    <input name="userId" type="hidden" value="{{userId}}">

    <div class="mb-3">
        <input name="price" type="number" class="form-control" min="0" placeholder="가격을 입력해주세요">
    </div>

    <button type="submit" class="btn btn-primary">입찰</button>
</form>


<table class="table table-hover text-center row">
    <h3 class="display-5">상품 입찰 내역</h3>

    <thead>
    <tr>
        <td>가격</td>
        <td>생성시간</td>
    </tr>
    </thead>

    <tbody>
    {{#bids}}
        <tr>
            <td class="col-sm-3">{{price}}</td>
            <td class="col-sm-3">{{createdTime}}</td>
        </tr>
    {{/bids}}
    </tbody>
</table>
{{> layouts/footer }}