spring:
  datasource:
    url: jdbc:mysql://localhost:3306/biddingwar
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: root

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        ddl-auto: update
        format_sql: true
    generate-ddl: true
    database: mysql

